input {
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--searchBar-color);
    padding-inline: .5em;
    border-radius: .2em;
    line-height: 1.8em;
}

.input-search-bar {
    background-color: var(--window-bg);
}

.search-bar {
    border-radius: .2em 0 0 .2em;
}

::placeholder {
    color: var(--text-color);
    opacity: .5;
}

svg {
    width: .9em;
    height: .9em;
}
svg * {
    fill: var(--text-color);
}

.search-bar-container {
    display: flex;
    align-items: center;
}